{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<br><br>

<h1>CECI EST UN ARTICLE</h1>

<br>

<article>
    <h2>{{ article.title }}</h2>
    <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }} dans la catégorie Politique</div>
    <div class="content">



        <img src="{{ article.image }}" alt="">

        {{ article.content |  raw}}

<br><br><br>



    </div>
</article>



<br><br>

{% endblock %}